.container{
    width: 336px;
    height: 236px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 232px auto;
}

.container-head {
    background-color: #FFDC40;
    height: 28px;
    border-radius: 10px 10px 0 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
}